<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/custom.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Horizon</title>
</head>
<body>

    <div data-th-fragment="alarmcard" class="card text-dark bg-light mb-3" style="width: 300px;">
        <div class="card-header" id="loc_id">Location Id</div>
        <div class="card-body">
            <h5 class="card-title" style="font-size: small" id="statename">Environment Parameters</h5>
            <div class="card-text">
            <h5 style="font-size: small">Alarm State <a style="margin-left: 126px;font-size: small" id="alarm"></a></h5>
            <h5 style="font-size: small">Emergency Door Guidance <a style="margin-left: 36px;font-size: small" id="emDoor"></a></h5>
            <h5 style="font-size: small">Smoke Warning <a style="margin-left: 102px;font-size: small" id="smoke"></a></h5>
            <h5 style="font-size: small">Fire ? <a style="margin-left: 165px;font-size: small" id="isfire"></a></h5>
            </div>
        </div>
        <div class="card-footer"><button class="btn btn-primary" id="button" onclick="setActState()">Actuate</button></div>
    </div>

</body>
</html>