<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/custom.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Horizon</title>
</head>
<body>
    <!-- Navigation Bar begin -->
    <div th:replace="navigationBar :: navBar"></div>
   <!-- Navigation Bar End -->

   <!--Main Dashboard Area begins -->
   <div class="container-fluid">
       <div class="row">
           <!-- Left Navigation bar begin-->
           <div th:replace="sidebar :: sidenavbar"></div>
           <!-- Left Navigation bar end -->
        <!--Display of Left Navigation pane Choice Begins-->
           <div class="col-md-10 main" style="margin-left: 210px">
               <h1 class="page-header" th:text="${viewname}"></h1>

               <!--Location 3 Card begins-->

               <!--Location 3 Card Ends-->

           </div>
        <!--Display of Left Navigation pane Choice Ends -->

       </div>
       <!-- Outside Column Div Main Dashboard Layout Begins -->
   </div>
   <!--Main Dashboard Area Ends --> 

</body>
</html>

