<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style.css" data-th-href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/custom.css" data-th-href="@{/css/custom.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Horizon</title>
</head>
<body>
    <!-- Navigation Bar begin -->
    <div data-th-replace="navigationBar :: navBar"></div>
   <!-- Navigation Bar End -->

   <!--Main Dashboard Area begins -->
   <div class="container-fluid">
       <div class="row">

        <!-- Left Navigation bar begin-->
           <div data-th-replace="sidebar :: sidenavbar"></div>
       <!-- Left Navigation bar end -->

        <!--Display of Left Navigation pane Choice Begins-->
           <div class="col-md-10 main" style="margin-left: 210px;margin-top: 60px">

               <h1 class="page-header" data-th-text="${viewname}"></h1>

                    <div class="row">
                        <div class="col-md-3">
                           <!--Card1  begins-->
                            <div id="card1">
                                <div  data-th-replace="stateCard :: card"></div>
                            </div>
                           <!--Card1   Ends-->
                        </div>

                        <div class="col-md-3">
                           <!--Card2   begins-->
                            <div id="card2">
                                <div  data-th-replace="stateCard :: card"></div>
                            </div>
                           <!--Card2   Ends-->
                        </div>

                        <div class="col-md-3">
                           <!--Card3   begins-->
                            <div id="card3">
                                <div  data-th-replace="stateCard :: card"></div>
                            </div>
                           <!--Card  3 Ends-->
                        </div>

                    </div>

                    <div class="row" style="margin-top: 10px">
                        <div class="col-md-3">
                            <!--Card 1   begins-->
                            <div id="act-card1">
                                <div  data-th-replace="actuatorCard::alarmcard"></div>
                            </div>
                            <!--Card  1 Ends-->
                        </div>

                        <div class="col-md-3">
                            <!--Card 2   begins-->
                            <div id="act-card2">
                                <div  data-th-replace="actuatorCard :: alarmcard"></div>
                            </div>
                            <!--Card  2 Ends-->
                        </div>

                        <div class="col-md-3">
                            <!--Card 3   begins-->
                            <div id="act-card3">
                                <div  data-th-replace="actuatorCard :: alarmcard"></div>
                            </div>
                            <!--Card  3 Ends-->
                        </div>
                    </div>

           </div>


        <!--Display of Left Navigation pane Choice Ends -->

       </div>
       <!-- Outside Column Div Main Dashboard Layout Begins -->
   </div>
   <!--Main Dashboard Area Ends --> 

</body>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/updateSequence.js"></script>
    <script src="js/isActStateEnable.js"></script>
</html>

