<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style.css" data-th-href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/custom.css" data-th-href="@{/css/custom.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Horizon</title>
</head>
<body>
    <!-- Navigation Bar begin -->
    <div data-th-replace="navigationBar :: navBar"></div>
   <!-- Navigation Bar End -->

   <!--Main Dashboard Area begins -->
   <div class="container-fluid">
       <div class="row">

        <!-- Left Navigation bar begin-->
           <div data-th-replace="sidebar :: sidenavbar"></div>
       <!-- Left Navigation bar end -->

        <!--Display of Left Navigation pane Choice Begins-->
           <div class="col-md-10 main" style="margin-left: 210px;margin-top: 60px">

               <h1 class="page-header" data-th-text="${viewname}"></h1>

                    <div class="row">
                        <div class="col-md-3">
                           <!--Card1  begins-->
                            <div id="card1">
                                <div  data-th-replace="stateCard :: card"></div>
                            </div>
                           <!--Card1   Ends-->
                        </div>

                        <div class="col-md-3">
                           <!--Card2   begins-->
                            <div id="card2">
                                <div  data-th-replace="stateCard :: card"></div>
                            </div>
                           <!--Card2   Ends-->
                        </div>

                        <div class="col-md-3">
                           <!--Card3   begins-->
                            <div id="card3">
                                <div  data-th-replace="stateCard :: card"></div>
                            </div>
                           <!--Card  3 Ends-->
                        </div>

                    </div>

                   <div class="row" style="margin-left: 5px;margin-top: 100px">
                      <div id = "msgBox" class="card bg-light" style="max-width: 2000px;font-family: Arial">
                          <div class="card-header" id="loc_id">Alert : </div>
                          <h5>There is fire in <a id="roomName"></a> , Verify if its false positive ? </h5>
                          <button id="b2" class="btn btn-sm" type="button" onclick="setActState()">Set</button>
                      </div>
                   </div>

                    <div id = "alarm"class="row" style="margin-left: 5px;margin-bottom:10px">
                        <h5 >Alarm State : <a id="alarmstate"></a></h5>
                    </div>


           </div>


        <!--Display of Left Navigation pane Choice Ends -->

       </div>
       <!-- Outside Column Div Main Dashboard Layout Begins -->
   </div>
   <!--Main Dashboard Area Ends --> 

</body>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/updateSequence.js"></script>
<script src="js/isActStateEnable.js"></script>
</html>

