<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/custom.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Horizon</title>
</head>
<body>

<!-- Navigation Bar begin -->
    <nav data-th-fragment="navBar" class="navbar navbar-dark bg-primary fixed-top">
        <span class="navbar-brand">Mobile Computing</span>
        <span class="navbar-text"
              style="color:white;font-size: x-large;margin-right: 300px;">
                IoTManage
             </span>
        <span class="navbar-text" style="margin-left: 10px;">
                   Author:Devan Premchandrakumar Nair
                </span>
        <span class="navbar-text">
                    Matriculation Number:1274369
                </span>
    </nav>
<!-- Navigation Bar End -->

</body>
</html>