<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/custom.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Horizon</title>
</head>
<body>

    <div data-th-fragment="card" class="card text-dark bg-light mb-3" style="width: 300px;">
        <div class="card-header" id="loc_id">Location Id</div>
        <div class="card-body">
            <h5 class="card-title" style="font-size: small" id="statename">Environment Parameters</h5>
            <div class="card-text">
            <h5 style="font-size: small">Temperature :  <a style="margin-left: 126px;font-size: small" id="temp"></a></h5>
            <h5 style="font-size: small">Smoke :  <a style="margin-left : 153px;font-size: small" id="smoke"></a></h5>
            <h5 style="font-size: small">Flash Value :  <a style="margin-left: 135px;font-size: small" id="flash"></a></h5>
            </div>
        </div>
    </div>

</body>
</html>